antlr4-python3-runtime==4.9.3
attrs 
boto3==1.20.49
botocore==1.23.54
certifi 
cloudpickle==3.1.2
colorama 
contourpy 
cycler 
einops==0.8.1
filelock==3.19.1
fonttools 
fsspec==2025.9.0
gitdb 
GitPython 
gym==0.23.0
gym-notices==0.1.0
-e git+https://github.com/facebookresearch/habitat-lab.git@094d6be2f9d057e4781a68ae792132895fd4d3d0#egg=habitat_lab&subdirectory=habitat-lab
habitat-sim==0.2.4
hydra-core==1.3.2
imageio 
imageio-ffmpeg 
importlib_metadata==8.7.0
importlib_resources 
Jinja2==3.0.3
jmespath==0.10.0
kiwisolver 
llvmlite 
magnum 
MarkupSafe==2.1.5
matplotlib 
mpmath==1.3.0
munkres==1.1.4
networkx==3.2.1
numba 
numpy 
numpy-quaternion 
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
omegaconf==2.3.0
opencv-python==4.11.0.86
packaging 
pillow 
prettytable==3.5.0
pyaml==21.10.1
pyparsing 
python-dateutil 
python-dotenv==0.20.0
PyYAML==6.0.3
s3transfer==0.5.2
scipy==1.13.1
six 
smmap 
superglue==0.17.0
sympy==1.13.1
torch==2.5.1+cu124
torchaudio==2.5.1+cu124
torchvision==0.20.1+cu124
tornado 
tqdm 
triton==3.1.0
typing_extensions 
unicodedata2 
urllib3==1.26.20
wcwidth==0.2.14
zipp 
